.todo-list__container {
  padding-top: 1.5rem;
}
.list {
  background-color: #df7861;
}
.todo-list {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  border: 1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding: 4px;
  background-color: #df7861;
  border-radius: 10px;
}
li {
  text-decoration: none;
  list-style: none;
  margin-top: 2px;
}
.task-button {
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  background-color: beige;
}

input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}
